/* Base level */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin: 0;
  min-width: 1050px;
}

/*
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
*/
header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 60px 30px;
}
header img {
  margin-right: 30px;
  width: 400px;
}

.header-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
  margin: 30px;
}

nav ul li {
  display: inline;
  margin-right: 60px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* 
https://www.w3schools.com/tags/tag_hr.asp
Didn't know about HR before I looked for it.
*/
header hr {
  height: 5px;
  margin: 10px 0;
  border: 0;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 36px;
  margin: 60px auto auto 0;
}

/* Page Level */
/* Gallery Page */
.list_container {
  display: flex;
  flex-direction: column;
}

.list_row {
  display: flex;
  justify-content: center; /* Arrange items in each row with space-between */
}

.list_div {
  margin: 20px 25px;
  width: 301px;
}

.list_div a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.list_div img {
  width: 285px;
}
.list_div p {
  margin: 10px auto 0 auto;
}
.list_div span {
  text-decoration: underline;
}
/* End of Gallery Page */

/* Product Description Page */
#pd_width {
  display: block;
  width: 300px;
  margin: 0 auto;
}
#pd_width p, #pd_width label, #pd_width select, #pd_width button {
  font-size: 24px;
}

#pd_width p {
  margin-bottom: 80px;
}

#pd_width select {
  width: 300px;
  padding: 10px;
  margin: 10px auto 30px auto;
  border-width: 3px;
  border-color: black;
}

#price_button {
  margin-top: 50px;
  float: right;
  font-weight: bold;
}

#price_button button {
  width: 170px;
  margin-left: 20px;
  padding: 5px;
  border-width: 3px;
  border-color: black;
}
/* End of Product Description Page*/

/* Cart Page */
figcaption , #cart_div , h1 {
  text-align: center;
}
figure {
  text-align: center;
}
figcaption {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

/* https://www.geeksforgeeks.org/how-to-affect-other-elements-when-one-element-is-hovered-in-css/
This one feels a little backwards to me but it works so I won't touch it */
.cart_price {
  font-size: 40px;
  margin-bottom: 40px;
}
.cart_price:last-child {
  margin-bottom: 120px;
}
#cart_button {
  font-size: 30px;
  width: 250px;
  height: 60px;
  border-width: 3px;
  border-color: black;
}
/* End of Cart Page */

/* Image Item things */
.img_border {
  border: solid 3px;
  border-color: black;
}

/* Bold for page nav */
.h_bold a{
  background-color: yellow;
  font-weight: bold;
}
/* Hover stuff */
.list_div a:hover {
  background-color: yellow;
}
.list_div a:hover span {
  font-weight: bold;
}
#price_button:hover button{
  font-weight: bold;
  background-color: yellow;
}
#cart_button:hover {
  font-weight: bold;
  background-color: yellow;
}
/* End of Hover stuff */